<!DOCTYPE html>
<html>
<head>
    <title>House Price Prediction</title>
</head>
<body>

<h2>Enter Features</h2>

<form action="/predict" method="post">
    <input type="text" name="CRIM" placeholder="CRIM"><br>
    <input type="text" name="ZN" placeholder="ZN"><br>
    <input type="text" name="INDUS" placeholder="INDUS"><br>
    <input type="text" name="CHAS" placeholder="CHAS"><br>
    <input type="text" name="NOX" placeholder="NOX"><br>
    <input type="text" name="RM" placeholder="RM"><br>
    <input type="text" name="AGE" placeholder="AGE"><br>
    <input type="text" name="DIS" placeholder="DIS"><br>
    <input type="text" name="RAD" placeholder="RAD"><br>
    <input type="text" name="TAX" placeholder="TAX"><br>
    <input type="text" name="PTRATIO" placeholder="PTRATIO"><br>
    <input type="text" name="B" placeholder="B"><br>
    <input type="text" name="LSTAT" placeholder="LSTAT"><br>

    <button type="submit">Predict</button>
</form>

<h3>{{ prediction_text }}</h3>

</body>
</html>